.toolbar {
  height: 72px !important;
  background-color: #cc0813 !important;
  color: #fff !important;
  z-index: 1;
}

img.logo {
  height:40px;
  width:auto;
  margin-right:15px !important;
  margin-left: 15px !important;
  align-self: center !important;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 10 !important;
}

.btn-primary {
  background-color: #cc0813 !important;
  border-color: #cc0813 !important;
  border-radius: 0.25rem !important;
  padding: 6px 12px !important;
}

a {
  text-decoration-color: #fff !important;
}

h2.car-crash {
  color: #fff !important;
  font-size: 1rem !important;
  align-self: center !important;
  padding-right:30px !important;
  margin-top: 15px !important;
}


/************ MEDIA QUERIES **********/
@media (max-width: 600px) {
  img.logo {
    height:20px !important;
    margin-right:15px !important;
  }

  h2.car-crash {
    font-size: 0.8rem !important;
    padding-right:8px !important;
    margin-top: 10px !important;
  }
}
